/* RESET */
* {
    margin: 0;
    padding: 0;
    outline: none;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;

    /*    border: 1px solid;*/
    font-family: arial;
}
.show { display: block !important; }
.main-menu { width: 170px; background: #F7F7F7; }

.main-menu .header {
    background: #459AD6;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.main-menu li a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #666;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    font-weight: bold;

    transition: .2s all;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
}
.main-menu li a:hover { 
    background: #9DD0F2; 
    color: #fff;
    border-left: 5px solid #459AD6;
}
.main-menu li.active a { background: #9DD0F2;  color: #fff; border-left: 5px solid #459AD6; }
.main-menu .treeview a .arrow { 
    width: 0;
    height: 0;
    margin-top: 5px;
    float: right;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #459AD6;
    transition: .2s all;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
}
.main-menu .treeview a:hover .arrow { border-top: 7px solid #fff; }

.main-menu .treeview-menu { display: none; background: rgba(0, 0, 0, .1); }
.main-menu .treeview-menu li a { padding: 5px 30px; font-weight: normal; background: none; border: none; color: #666; }
.main-menu .treeview-menu li a:hover { border-left: 5px solid rgba( 0, 0, 0, .2); color: #fff; background: rgba(0, 0, 0, .1); }
